:root {
  --bg-main: #e6e6e6;
  --bg2-main: #d1cccc;
  --bg3-main: #ededed;
  --key-bg: #377f86;
  --key-shadow: #1b5f65;
  --key-bg2: #ca5502;
  --key-shadow2: #893901;
  --key-bg3: #e5e4e1;
  --key-shadow3: #a69d91;
  --txt-main: #35352c;
  --txt-second: black;
}
