:root {
  --bg-main: #160628;
  --bg2-main: #1d0934;
  --bg3-main: #1d0934;
  --key-bg: #58077d;
  --key-shadow: #bc15f4;
  --key-bg2: #00e0d1;
  --key-shadow2: #6cf9f2;
  --key-bg3: #341c4f;
  --key-shadow3: #871c9c;
  --txt-main: #ffe53d;
  --txt-second: #ffe53d;
}
